In [264]:
# Libraties to be imported

import pandas as pd
import numpy as np

pd.set_option('display.float_format', '{:,.2f}'.format)

<b>Extracting table from Wikipedia page.</b>

In [265]:
page = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
len(page)

3

<b>There're 3 tables in the page. Trying the first in the list.</b>

In [266]:
df = page[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

<b>Changing the Column names and removing raws where "Borough" = 'Not assigned'</b>

In [256]:
columns=['PostalCode', 'Borough', 'Neighborhood']
df.columns=columns

df = df.loc[df['Borough']!='Not assigned'].reset_index(drop=True)
df.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

<b>Checking if there are postal codes with more than neighborhood</b>

In [257]:
df_count = df.groupby(by='PostalCode').count()
df_count.loc[df_count['Neighborhood']>1]

Empty DataFrame
Columns: [Borough, Neighborhood]
Index: []

<b>It looks like the assignement description is wrong. There aren't boroughs with more than neighborhood. Checking with M5A</b>

In [258]:
df[df['PostalCode']=='M5A']

  PostalCode           Borough                Neighborhood
2        M5A  Downtown Toronto  Regent Park / Harbourfront

<b>Checking if there are borough with not assigned neighborhood</b>

In [277]:
df.loc[df['Borough'].isna()]

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [278]:
df_na = df[df.Neighborhood.isna()==True]
df_na.loc[df_na['Borough']!='Not assigned']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

<b>There aren't any borough with no assigned neighborhood!!</b>

In [290]:
print("There are {0} raws and {1} columns".format(str(df.shape[0]),str(df.shape[1])))

There are 180 raws and 3 columns